<p id="notice"><%= notice %></p>

<div class = "contenedor">
  <div class="container">
    <center>
    <div class="jumbotron4">
       
<p>
  <strong>Correo:</strong>
  <%= @user.email %>
</p>
<strong>Rol:</strong>
  <%= @user.role %>
</div>

</center>
</div>
</div>