<html>

  <body>
    <div class="container">
  
    <div class="jumbotron1">
       <%= stylesheet_link_tag 'application'%>
    	<p> </p>
           <div align="left">
          <h2>BIENVENIDO</h2>
	          <h5> Ingresa tu correo electrónico </h5>
              <td><%= text_field("correo_electronico", "login","size"=>"22") %></td>
                 <%= button_to 'Entrar', welcome_solicitud_path %>
            </div>

    </div>
<p></p>
  
  </body>
</div>
</html>