<html>

  <body>
    <div class="container">
      <div class="jumbotron1">
        <div align="left">
              <h2>BIENVENIDO</h2>
	              <h5> Ingresa tu correo electrónico </h5>

                 <%= button_to 'Entrar', welcome_solicitud_path %>

            </div>
      </div>
    </div>
  </body>
</html>