<div class="container">
<div class="jumbotron">
  <h3>BIENVENIDO</h3>
	<h5> Ingresa tu correo electrónico </h5>
<td><%= text_field("correo_electronico", "login","size"=>"15") %></td>

 <%= link_to 'Entrar', welcome_solicitud_path %>
</div>
</div>
