<!DOCTYPE html>
<html>
 <div class="container">
 
    <div class="row">
       <div class="col-md-6" >
        	<div class="jumbotron2">
 	        	<center>
              <a class="btn btn-primary btn-large">
<<<<<<< HEAD
              	<style type="text/css">
input {color: black;}
    </style>
     <%= button_to 'Ver disponibilidad de espacios', calendario_espacios_path, :method => :get %>
    </a>
</center>
</div>
</div>
 <div class="col-md-6" >
 	<div class="jumbotron3">
 		<center>
 	 <a class="btn btn-primary btn-large">
<%= button_to 'Solicitar espacio', new_reservacion_path, :method => :get %>
 </a>
</center>
</div>
</div>
</div>
</div>
</div>
=======
                  <%= button_to 'Ver disponibilidad de espacios', calendario_espacios_path, :method => :get %>
              </a>
            </center>
          </div>
       </div>
       
       <div class="col-md-6" >
 	        <div class="jumbotron3">
 		        <center>
 	            <a class="btn btn-primary btn-large">
                  <%= button_to 'Solicitar espacio', new_solicitud_path, :method => :get %>
              </a>
            </center>
          </div>
       </div>
       
    </div> 
  </div>

>>>>>>> 44c335a6420341eb6fcd232037e67ba8f75f24cb
</html>
