<!DOCTYPE html>
<html>
 <head>
 <style type="button">
  input {color: black;}
 </style>
 </head>
 <div class="container">
 
    <div class="row">
       <div class="col-md-6" >
        	<div class="jumbotron2">
 	        	<center>
              <a class="btn btn-primary btn-large">
                <button type="button" data-toggle="modal" id="disponibilidad">Ver disponibilidad de espacios</button>
              </a>
            </center>
        
                    <div id="Asistentes" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <center>

                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                       
                        <%= form_tag(calendario_actividadesInvestigacion_path, method: :get) do %>
                           <div class="modal-body">
                             <h4> TIPO DE ACTIVIDAD</h4>
                            	<h5><input type="radio" name="tipoactividad" id="tipoactividad_seminario" value="Seminario">Seminario<br></h5>
                            	<h5><input type="radio" name="tipoactividad" id="tipoactividad_reunion" value="Reunión">Reunión<br></h5>
                            	<h5><input type="radio" name="tipoactividad" id="tipoactividad_clase" value="Clase">Clase<br></h5>
      
                                <h5>¿Cuál es el número aproximado de asistentes?</h5>
                                <%= number_field_tag :asistentes, params[:asistentes], min:"1", max:"18"%>
                           </div>

                          <div class="modal-footer">
                            <a class="btn btn-primary btn-sm">
                            	  <%= submit_tag "Ver disponibilidad" %>
                            </a>
                          </div>
                          <% end %>

                      </div>

                        </center>
                      </div>
                    </div>  

                    <script>
                     $(document).ready(function(){
                     $("#disponibilidad").click(function(){
                     $("#Asistentes").modal();
                      });
                    });
                    </script>
          </div>
        </div>
      <div class="col-md-6" >
 	      <div class="jumbotron3">
 		      <center>
 	          <a class="btn btn-primary btn-large">
              <%= button_to 'Solicitar espacio', new_reservacion_path, :method => :get %>
            </a>
          </center>
        </div>
      </div>
    </div>
  </div> 
</html>
