<div class="contenedor" align="center">
	<h1>Versión imprimible</h1>

	<%= render 'form', agenda: @agenda %>

    <a class="btn btn-primary btn-sm">
    	<%= button_to "Regresar", welcome_administracion_path %>
    </a>
</div>