<% if can? :show, Videoconferencium %>
<center><h2>NUEVA SOLICITUD</h2></center>

<%= render 'form', videoconferencium: @videoconferencium %>

<!--<%= link_to 'Back', videoconferencia_path %>-->
<% end %>

<% if cannot? :show, Videoconferencium %>
<div class= "contenedor">
    <div class="panel panel-default">
        <div class="panel-heading">Programación de actividades </div>
            <div class="panel-body"> 
                <center>
                  <div> No tienes acceso a esta página.</div>
                 <a class="btn btn-primary btn-large">
                 <%= button_to 'Regresar', calendario_actividadesInvestigacion_path, :method => :get %>
                 </a>
                 </center>
          
            </div>
        </div>      
</div>
<% end %>