<% if can? :manage, Espacio %>
<center>
<h1>Agregar espacio</h1>

<%= render 'form', espacio: @espacio %>

<%= link_to 'Regresar', espacios_path %>
</center>
<% end %>

<% if cannot? :manage, @espacio %>
<div class= "contenedor">
    <div class="panel panel-default">
        <div class="panel-heading">Programación de actividades </div>
            <div class="panel-body"> 
                <center>
                  <div> No tienes acceso a esta página.</div>
                 <a class="btn btn-primary btn-large">
                 <%= button_to 'Regresar', calendario_actividadesInvestigacion_path, :method => :get %>
                 </a>
                 </center>
          
            </div>
        </div>      
</div>
<% end %>