<html>

<head>
 
<meta charset='utf-8' />
 <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script> 
 <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js'></script>
 <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.min.css" rel="stylesheet">
 <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.min.js"> </script>
 <script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/locale/es.js'></script>

<div class= "contenedor">
  <div class="panel-group">
	  <div class="col-md-3" >
	    <div class="panel panel-default">
        <div class="panel-heading">Programación de actividades </div>
		      <div class="panel-body">
            <div class="btn-group-vertical" role="group" aria-label="...">
	  		
		        Reservaciones
	 
	          	<button type="button" class="btn btn-link"></button>
              <%= javascript_include_tag "ventanaCatalogo" %>
              <div id="ventana_emergente"> 
                <h3> SERVICIOS TÉCNICOS </h3>
                  <p> Videoproyector </p>
                  <p> PC </p>
                  <p> Traducción simultánea </p>
                  <p> Vídeo </p>
                  <p> Conexión por Skype </p>
                  <p> Conexión Internet </p>
                  <p> Videoconferencia </p>
                  <p> Pizarrón </p>
                  <p> Webcast </p>
                  <p> Grabación de video </p>
                  <p> Grabación de audio </p>
                <h3> OTROS SERVICIOS </h3>
                  <p> En todas las sesiones se ofrece café. </p>
                  <p> En sesiones de 3 horas o más se puede ofrecer galletas o fruta. </p>
                  <p> <a id="cerrar" href="javascript:void(0);"> Cerrar </a> </p>
              </div>
              <div> <a id="abrir" href="javascript:void(0);"> Cátalogo de servicios </a> </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <%= javascript_include_tag "cal_sala6P" %>
</head>

    <div class="panel-group">
	  <div class="col-md-9" >
        <div align="center"><font color="#FFFFFF" size="+2"><marquee bgcolor="#000000" direction="left" loop="20">SALA DEL 6° PISO</marquee></font></div>
          <div id="calendar"></div>
            <div align ="right">
              <a class="btn btn-primary btn-large">
                <%= button_to 'Reservar', new_solicitud_path, :method => :get %>
              </a>
            </div>
              <a class="btn btn-primary btn-large">
                <%= button_to 'Otro espacio', calendario_espacios_path, :method => :get %>
              </a>
      </div>
    </div>
</div>

</html>