// Place all the styles related to the Reservacions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ir-arriba {
	padding:20px;
	display:inline-block;
	background:#024959;
	color:#fff;
	position: fixed;
	font-size:20px;
	bottom:50px;
	right:50px;
	display:none;
	cursor:pointer;
}

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-ws5wru');
	src:url('fonts/icomoon.eot?#iefix-ws5wru') format('embedded-opentype'),
		url('fonts/icomoon.woff?-ws5wru') format('woff'),
		url('fonts/icomoon.ttf?-ws5wru') format('truetype'),
		url('fonts/icomoon.svg?-ws5wru#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.fa-chevron-up:before{content:"\f077"}

.fa-arrows-up:before {
	content: "\e601";
}
