.jumbotron1 {
       padding: 10px;
       background-repeat: no-repeat;
       background-position: 28% 50%; 
       color: black;  
       background-color: #2c3e50;
       color: #edf4fc;     
}

.jumbotron2 {
       padding: 50px;
       background-image: url(calendario.jpg); 
       background-repeat: no-repeat;
       background-position: center; 
       color: black;
                  }
.jumbotron3 {   
       padding: 50px;
       background-image: url(Formulario_Icono.jpg); 
       background-repeat: no-repeat;
       background-position: 50% 00%;  
                  }
.jumbotron5 {
       padding: 50px;
       background-image: url(calendario2.png); 
       background-repeat: no-repeat;
       background-position: center;   
                  }
.jumbotron6 {
       padding: 50px;
       background-image: url(formulario2.jpg); 
       background-repeat: no-repeat;
       background-position:  57.5% 50%;   
                  }
.jumbotron {
    padding: 20px;
    color: #edf4fc;
	  background-color:#2c3e50;
}

.jumbotron4 {
  color: #2c3e50;
  background-color:#D9E0E5;
}

footer {
      margin: 0 auto;
	  margin-top: 30em;
}

.btn {color: black;}
 
 #ventana_emergente {display: none; background-color: #fff; width: 300px; padding: 10px; border: solid 1px #000;}
 input {color: black;}

 .thumbnails {
 background-image: url(fondoDeAgua.png);
 }
  .thumbnail {
 background-image: url('fondoDeAgua.png');
 }
 .panel1 {
 background-image: url('fondoDeAgua.png');
 }
 ul.ui-autocomplete {
    z-index: 1100;
}
.contenedorJumbotron{
  width: 300px;
}
.pie-derechos1 {
  width: 1270px;
  font-family: "Lucida Grande", "lucida sans", "Lucida Sans Unicode", "Lucida Console";
  font-size: 10px;
  color: #FFFFFF;
  border-right-width: 0px;
  border-left-width: 0px;
  border-right-style: solid;
  border-left-style: solid;
  border-right-color: #CCCCCC;
  border-left-color: #CCCCCC;
  padding: 5px;
  margin-left: 2px;
  margin-top: 2px;
  float: left;
  background-image: url(img/pie-bg.jpg);
  background-repeat: no-repeat;
}
.administrado1{
  float: right;
  width: 1270px;
  margin-top: 5px;
  color: #edf4fc;
  text-align: center;
}
a1{
  color: white;
}