
.jumbotron1 {
       background-image: url(torre_humanidades.jpg);
       background-size: cover;
       padding: 62px;
       color: black; 
      
}

.jumbotron2 {
       margin-top: 5em;
       padding: 50px;
       background-image: url(calendario.jpg); 
       background-repeat: no-repeat;
       background-position: center; 
       color: black;
                  }
.jumbotron3 {
       margin-top: 5em;
       padding: 50px;
       background-image: url(Formulario_Icono.jpg); 
       background-repeat: no-repeat;
       background-position: 50% 00%;  
                  }
.jumbotron5 {
       margin-top: 5em;
       padding: 50px;
       background-image: url(calendario2.png); 
       background-repeat: no-repeat;
       background-position: center;   
                  }
.jumbotron6 {
       margin-top: 5em;
       padding: 50px;
       background-image: url(formulario2.jpg); 
       background-repeat: no-repeat;
       background-position:  57.5% 50%;   
                  }
.jumbotron {
   
    color: #edf4fc;
	background-color:#2c3e50;
}

.jumbotron4 {
   
    color: #2c3e50;
  background-color:#D9E0E5;
}

footer {
      margin: 0 auto;
	  margin-top: 30em;
}

.btn {color: black;}
 
 #ventana_emergente {display: none; background-color: #fff; width: 300px; padding: 10px; border: solid 1px #000;}
 input {color: black;}

 .thumbnails {
 background-image: url(fondoDeAgua.png);
 }
  .thumbnail {
 background-image: url('fondoDeAgua.png');
 }
 .panel1 {
 background-image: url('fondoDeAgua.png');
 }
 ul.ui-autocomplete {
    z-index: 1100;
}