
.jumbotron1 {
       padding: 50px;
       background-image: url(https://raw.githubusercontent.com/PaulinaCEIICH/reservacion_salas/master/FB_IMG_1508268037442.jpg); 
       background-position: 2em 27cm;
}

.jumbotron2 {
       margin-top: 5em;
       padding: 50px;
       background-image: url(https://raw.githubusercontent.com/PaulinaCEIICH/reservacion_salas/master/calendario.jpg); 
       background-repeat: no-repeat;
       background-position: center; 
                  }
.jumbotron3 {
       margin-top: 5em;
       padding: 50px;
       background-image: url(https://raw.githubusercontent.com/PaulinaCEIICH/reservacion_salas/master/Formulario_Icono.jpg); 
       background-repeat: no-repeat;
       background-position: 50% 00%;  
                  }
.jumbotron {
   
    color: #edf4fc;
	background-color:#2c3e50;
}

.jumbotron4 {
   
    color: #2c3e50;
  background-color:#D9E0E5;
}

footer {
      margin: 0 auto;
	  margin-top: 30em;
}

 #ventana_emergente {display: none; background-color: #fff; width: 300px; padding: 10px; border: solid 1px #000;}
 input {color: black;}

 .thumbnails {
 background-image: url('https://raw.githubusercontent.com/PaulinaCEIICH/reservacion_salas/master/fondoDeAgua.png');
 }
  .thumbnail {
 background-image: url('https://raw.githubusercontent.com/PaulinaCEIICH/reservacion_salas/master/fondoDeAgua.png');
 }
 .panel1 {
 background-image: url('https://raw.githubusercontent.com/PaulinaCEIICH/reservacion_salas/master/fondoDeAgua.png');
 }