<style type="button">
	input {color: black;}
</style>
<div class="container">
	<h4 align="center">CALENDARIOS (VERSIÓN IMPRIMIBLE)</h4></br></br></br>
		<div class="row">
			<div class="col-md-6">
				<div class="jumbotron5">
					<center>
						<a class="btn btn-primary btn-large">
							<%= button_to 'Generar pdf', reservacions_path(format: 'pdf'), :method => :get %>
						</a>
					</center>
				</div>
			</div>
		</div>
</div>
</br></br></br></br>