<!DOCTYPE html>
<html>
  <head>
    <title>Reservación</title>
   <!-- Latest compiled and minified CSS -->

<link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
    <%= csrf_meta_tags %>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>
  <body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
  
    <div class="navbar-header">
      <a class="navbar-brand" href="">Reservación de espacios</a>
    </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   <form class="navbar-form navbar-right"> 
    <div class="form-group">
          <input type="text" class="form-control" placeholder="Búsqueda">
        </div>
        <button type="submit" class="btn btn-default">Buscar</button>
   </form>
    </div>
  </div>
</nav>
<div class="container">
	<div class="jumbotron">
  	<h5> Centro de Investigaciones Interdisciplinarias en Ciencias y Humanidades <h5>
	<h2>Programación de Actividades Académicas</h2>
	</div>
  </div>

    <%= yield %>
  </body>
</html>
